@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
 
body {

    background-color: #f8f9fa;

}
 
.heading{

    display: flex;

    justify-content: center;

    margin: 0 0 2rem 5rem;

}
 
.card {

    margin-top: 50px;

}
 
.card-header {

    background-color: #007bff;

    color: white;

}
 
.btn {

    background-color: white;

    color: black;

    border: none;

}
 
.card-body{

    background-color: transparent;
 
}
 
#loginForm{

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;

}

input[type=text] {

    background: transparent;

    border: none;

    border-bottom: 1px solid #000000;

}

input[type=password] {

    background: transparent;

    border: none;

    border-bottom: 1px solid #000000;

}

input::placeholder{

    color: black;

}
 
a{

    color: #000000;

}
 
a:hover{

    color: blue;

    text-decoration: none;

}
 
.new-forgot{

    display: flex;

    justify-content: space-evenly;

}

 